  #container{
    border: 1px solid rgb(176, 170, 170);
  }

  body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  button {
    padding: 2px 8px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
  }